doctype html
html
  head
    title Gamification SDK Portalhead
    link(rel="stylesheet" href="/styles.css")
  body
    header
      h1 Gamification SDK Portal
      nav
        ul
          if loggedIn
            li: a(href="/logout") Logout
          else 
            li: a(href="/login") Login
          li: a(href="/api-management") API Management
          li: a(href="/analytics") App Analytics
          li: a(href="/achievements") Achievement Management

    main
      block content

    footer
      p © 2025 Gamification SDK
      p Itay Biton