doctype html
html
  head
    title Gamification API
    link(rel="stylesheet" href="/styles.css")
  body
    header
      h1 Gamification API Portal
      nav
        ul
          if loggedIn
            li: a(href="/logout") Logout
            li: a(href="/api-management") API Management
            li: a(href="/analytics") App Analytics
            li: a(href="/achievements") Achievement Management
          else 
            li: a(href="/login") Login
          li: a(href="/about") About
          li: a(href="/docs") How To Use
      button#themeToggle Toggle Dark/Light Mode

    main
      block content

    footer
      p © 2025 Gamification API
      p Itay Biton


    script(src="/js/scripts.js")